
  
  

  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
     
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  header {
    width: 100%;
    height: 50px;
    
    word-spacing: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
  }
  .header-left {
    float: left;
    margin-top: 10px;
    width: 70%;
    display: inline-block;
    text-align: left;
  }
  .header-right {
    float: right;
    
    height: 50px;
    width: 30%;
    display: inline-block;
    text-align: right;
   
    

  }
 
  #app{
    
    margin-top: 0px;
    display: inline-block;
   
    position: relative;
    top: 10px;
    
  }
  .headers-links {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
  .footer-links {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
  main {
    
    text-align: center;
    width: auto;
    margin: 100px;
    height: auto;
    
  }
  #google {
    margin:20px;
    width: 150px;
    height: auto;

  }
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
   
  }
  footer{
      margin-top: 260px;
      margin-bottom:3px ;
      width: 100%;
      height: 50px;
      word-spacing: 10px;
      padding: 10px;
      box-sizing: border-box;
      background-color: rgb(233, 232, 232);
      opacity: 0.8;
  }
  p{
    opacity: 0.7;
  }
  #microphone{
    width:18px;
    height: 24px;
    
  }
  #magnify{
    width: 20px;
    height: 20px;
    
  }
  #button{
    margin: 10px;
  }

  #search{
    text-align: center;
    position: relative;
    width: 400px;
    height: 35px;
    border-radius: 50px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    
  }
 
  .search{
    text-align: center;
    position: relative;
    width: 385px;
    height: 35px;
    margin-left: 100px;
    left: 285px;
    margin-bottom: 10px;
    
  }


  #magnify1{
    position:absolute ;
    /*display: inline-block;*/
    top:7px ;
    left:10px ;
    
    width: 20px;
    height: 24px;

  }
  #microphone1{
    position: absolute; 
    /*display: inline-block;*/
    top: 5px;
    right:0px ;
    width: 25px;
    height: 25px;
    
  }
#google_search{
  width: 140px;
  height: 30px;
  opacity: 0.7;
  border: none;
  
}
#feeling{
  width: 140px;
  height: 30px;
  opacity: 0.7;
  border: none;

}
#sign-in{
  color: white;
  background-color: blue;
  width: 85px;
  height: 30px;
  padding: 5px;
  border: none;
  
  
}
#how{
  word-spacing: normal;
}